[submodule "packages/hardhat-diamonds"]
    path = packages/hardhat-diamonds
    url = git@github.com:DiamondsLab/hardhat-diamonds.git
[submodule "packages/diamonds"]
    path = packages/diamonds
    url = https://github.com/DiamondsLab/diamonds.git
    branch = develop
[submodule ".devcontainer"]
        path = .devcontainer
        url = https://github.com/DiamondsLab/diamonds-devcontainer.git
        branch = develop
[submodule "packages/hardhat-multichain"]
    path = packages/hardhat-multichain
    url = https://github.com/DiamondsLab/hardhat-multichain.git
    branch = develop
[submodule "packages/diamonds-monitor"]
    path = packages/diamonds-monitor
    url = https://github.com/DiamondsLab/diamonds-monitor.git
    branch = develop
    